Makefile
Makefile.in
install-sh
aclocal.m4
autom4te.cache/
autoscan.log
config.h
config.h.in
config.log
config.status
configure
configure.scan
depcomp
missing
stamp-h1
.deps/
msp-*.tar.gz
cscope.*
*.o
*~
